[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system
[submodule "vendor/status-go"]
	path = vendor/status-go
	url = https://github.com/status-im/status-go
